PGUSER=
PGHOST=
PGDATABASE=
PGPASSWORD=
PGPORT=5432

JWT_SECRET=
EMAIL_USER=
EMAIL_PASSWORD=

EMBRAPA_CONSUMER_KEY=
EMBRAPA_CONSUMER_SECRET=

COTACOES_REFRESH_MINUTES=30
FRONTEND_URL=http://localhost:5173
